<ul>
  <li>
    IP address (stored separately)
  </li>
  <li>
    Date and time of access
  </li>
  <li>
    Browser type / version
  </li>
  <li>
    URL of previously visited webpage
  </li>
  <li>
    Amount of data sent
  </li>
</ul>
