/*
 * Fonts
 */

@font-face
{
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: local('Source Sans Pro Light'),
    local('SourceSansPro-Light'),
    url('../fonts/SourceSansPro-Light.eot') format('embedded-opentype'),
    url('../fonts/SourceSansPro-Light.ttf.woff2') format('woff2'),
    url('../fonts/SourceSansPro-Light.otf.woff') format('woff'),
    url('../fonts/SourceSansPro-Light.otf') format('opentype'),
    url('../fonts/SourceSansPro-Light.ttf') format('truetype');
}

@font-face
{
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src: local('Source Sans Pro Light Italic'),
    local('SourceSansPro-LightIt'),
    url('../fonts/SourceSansPro-LightIt.eot') format('embedded-opentype'),
    url('../fonts/SourceSansPro-LightIt.ttf.woff2') format('woff2'),
    url('../fonts/SourceSansPro-LightIt.otf.woff') format('woff'),
    url('../fonts/SourceSansPro-LightIt.otf') format('opentype'),
    url('../fonts/SourceSansPro-LightIt.ttf') format('truetype');
}

@font-face
{
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: local('Source Sans Pro'),
    local('SourceSansPro-Regular'),
    url('../fonts/SourceSansPro-Regular.eot') format('embedded-opentype'),
    url('../fonts/SourceSansPro-Regular.ttf.woff2') format('woff2'),
    url('../fonts/SourceSansPro-Regular.otf.woff') format('woff'),
    url('../fonts/SourceSansPro-Regular.otf') format('opentype'),
    url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

/*
 * General layout
 */

html
{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.333333;
  color: #161616;
}

body
{
  padding: 84px 0 0 0;
  margin: 0;
}

a
{
  font-weight: 400;
  text-decoration: none;
  color: #161616;
}

a:hover
{
  text-decoration: underline;
}

img
{
  border-width: 0px;
}

header,
footer,
nav
{
  display: block;
}

h1
{
  font-size:28px;
}

h2
{
  font-size:24px;
}

h3
{
  font-size:20px;
}

h4
{
  font-size:16px;
}

h5
{
  font-size:14px;
}

h6
{
  font-size:12px;
}

#header
{
  position: fixed;
  background-color: #fff;
  width: 100%;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 12px rgba(0,0,0, 0.09);
  z-index: 10000;
  text-align: right;
  text-transform: uppercase;
}

#header .content-block
{
  position: relative;
  padding: 10px;
  min-height: 32px;
}

#header.top
{
  box-shadow: none;
}

#header.top .content-block
{
  padding: 22px 10px;
}

#logo
{
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -20px;
  height: 40px;
}

#logo img
{
  height: 100%;
}

#header .menu-button
{
  margin: 0px 5px 0px 20px;
}

#menu
{
  display: inline;
  vertical-align: middle;
}

.assistive-text
{
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.menu-list
{
  display: inline;
  margin: 0px;
  font-size: 16px;
  list-style: none;
}

.menu-list li
{
  display: inline;
  font-weight: bold;
  white-space: nowrap;
}

.menu-list li a
{
  color: #979797;
  padding: 0 8px;
}

.menu-list li:hover > a,
.menu-list li.current-menu-item > a
{
  text-decoration: none;
  color: #161616;
}

#header-hamburger
{
  display: none;
}

.icon-bar
{
  display: block;
  width: 22px;
  height: 2px;
  background-color: #fff;
}

#header-hamburger:hover .icon-bar,
#header-hamburger:active .icon-bar,
#header-hamburger:focus .icon-bar
{
  background-color: #161616;
}

.icon-bar+.icon-bar
{
  margin-top: 4px;
}

#content:before,
#content:after,
.columns-container:before,
.columns-container:after
{
  content: " ";
  display: table;
}

#content:after,
.columns-container:after
{
  clear: both;
}

#footer
{
  color: #fff;
  background-color: #2d2d2d;
  padding-top: 30px;
  padding-bottom: 50px;
}

#footer a
{
  color: #c2c2c2;
}

#footer a:hover
{
  color: #ffffff;
}

#footer-links
{
  float: right;
  margin-right: 10px;
  font-size: 12px;
}

#footer-links a
{
  display: block;
  text-align: right;
}

#footer #to-top
{
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  outline-width: 0;
  width: 28px;
  height: 28px;
  position: fixed;
  bottom: 37px;
  right: 20px;
  border-radius: 3px;
  color: #999;
  text-align: center;
  line-height: 28px;
  font-size: 20px;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#footer #to-top:hover
{
  background-color: #1abc9c;
  color: #fff;
}

#footer #to-top:before
{
  content: "\25B2";
}

.content-block,
.page-title h1
{
  max-width: 1080px;
  margin: 0 auto;
}

.heading
{
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 400;
}

.heading span
{
  padding: 0;
  padding-right: 10px;
  background-color: #fff;
}

.centered
{
  text-align: center;
}

.centered span
{
  padding-left: 10px;
}

button, .button, .menu-button
{
  display: inline-block;
  padding: 0px 20px;
  background-color: #161616;
  border: 2px solid #161616;
  border-radius: 0px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  white-space: nowrap;
  cursor: pointer;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
.menu-button:hover,
.menu-button:focus
{
  background-color: #fff;
  color: #161616;
  text-decoration: none;
}

.page-title
{
  background-color: #f2f2f2;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 40px;
}

.sidebar-left .contact-person
{
  text-align: right;
  margin-top: 20px;
  float: right;
}

.sidebar-left .contact-person:first-child
{
  margin-top: 0;
}

.sidebar-left .contact-person img
{
  border-radius: 3px;
}

/*
 * Page-specific styles
 */

#home-image-container
{
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
}

#who-we-are
{
  margin-top: 25px;
  margin-bottom: 25px;
}

#our-work
{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
}

#our-work h3
{
  text-transform: uppercase;
}

#media
{
  margin-top: 25px;
}

#our-work .heading span
{
  background-color: #f0f0f0;
}

.profile
{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

.profile-image,
.country-image
{
  border-radius: 200px;
}

.country-image
{
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: 30px;
}

.profile h1
{
  font-size: 20px;
  margin-bottom: 0.3em;
}

.profile h2
{
  font-size: 14px;
  font-weight: normal;
  color: #AAAAAA;
  margin-bottom: 0;
}

.profile h3
{
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 1em;
}

#releases ul
{
  list-style: none;
  padding: 0px;
}

#releases li div
{
  width: 130px;
}

#releases li > *
{
  display: table-cell;
}

#releases li
{
  margin-bottom: 10px;
}

/*
 * Multi-column layouts
 */

.columns-container
{
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.column
{
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.5%;
}

.sidebar-left .contact-person > :first-child,
.column > :first-child
{
  position: relative;
  margin-top: 0;
}

.one-sidebar .column
{
  width: 74.375%;
}

.two-columns .column,
.two-sidebars .column
{
  width: 48.75%;
}

.four-columns .column
{
  width: 23.125%;
}

.one-sidebar .sidebar-left,
.one-sidebars .sidebar-right,
.two-sidebars .sidebar-left,
.two-sidebars .sidebar-right
{
  width: 23.125%;
}

.column:first-child
{
  margin-left: 0;
}

/*
 * Tabs
 */

.ui-tabs-nav
{
  padding: 0;
  margin: 0;
  font-weight: bold;
  border-bottom: 1px solid #E1E1E1;
  *zoom: 1;
}

.ui-tabs-nav:before,
.ui-tabs-nav:after
{
  display: table;
  content: "";
}

.ui-tabs-nav:after
{
  clear: both;
}

.ui-tabs-nav li
{
  background-color: #FBFBFB;
  padding: 0;
  background-image: none;
  list-style: none;
  float: left;
  margin: 0;
  border: 1px solid #E1E1E1;
  border-left: none;
  border-bottom-color: #CFCFCF;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.ui-tabs-nav-vertical li,
.ui-tabs-nav li:first-child
{
  border-left: 1px solid #E1E1E1;
  border-top: 1px solid #E1E1E1;
}

.ui-tabs-nav li.ui-tabs-active,
.ui-tabs-nav li:hover
{
  background-color: #fff;
  border-top: 2px solid #161616;
  border-bottom: none;
  position: relative;
  top: 1px;
}

.ui-tabs-nav-vertical li.ui-tabs-active,
.ui-tabs-nav-vertical li:hover
{
  border: 1px solid #161616;
  background-color: #161616;
  top: 0px;
}

.ui-tabs-nav-vertical li.ui-tabs-active a,
.ui-tabs-nav-vertical li:hover a
{
  color: #fff;
  text-decoration: none;
}

.ui-tabs-active .ui-tabs-anchor
{
  cursor: default;
}

.ui-tabs-anchor
{
  border-bottom: none;
  display: block;
  padding: 0.5em 1em;
}

.ui-tabs-anchor:focus
{
  outline: none;
}

.ui-tabs-panel
{
  padding: 1em;
}

/*
 * Accordion
 */

.ui-accordion-header
{
  position: relative;
  background-color: #FBFBFB;
  border: 1px solid #E1E1E1;
  border-radius: 3px;
  padding: 0.5em 1em 0.5em 56px;
  font-size: 16px;
  line-height: inherit;
  cursor: pointer;
  outline-width: 0;
}

.ui-accordion-header.ui-state-active
{
  background-color: #FFFFFF;
  border-top-color: #1ABC9C;
}

.ui-accordion-header:before
{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: 1px solid #EEE;
  -moz-focus: ignore;

  font-size: 18px;
  width: 40px;
  line-height: 30px;
  color: #5F5F5F;
  text-align: center;
  cursor: pointer;
  display: block;
  content: "\25BA"; /* right pointing triangle */
  line-height: 44px;
}

.ui-accordion-header.ui-state-active:before
{
  content: "\25BC";  /* down pointing triange */
  color: #1ABC9C;
}

.ui-accordion-content
{
  padding-left: 56px;
}

.ui-accordion-content > :first-child
{
  margin-top: 0;
}

.ui-accordion-content > :last-child
{
  margin-bottom: 0;
}

/*
 * Form controls
 */

form label.error,
form p.error
{
  background-color: #ffeaea;
  border: 1px solid #feabab;
  color: #eb1515;
  margin-top: 5px;
  padding: 6px;
  text-align: center;
  display: block;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="range"],
input[type="date"],
textarea
{
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05) inset;
  background-color: #fff;
  color: #7d7d7d;
  font-size: 13px;
  padding: 6px 10px;
  height: 38px;
  width: 100%;
  max-width: 400px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

textarea
{
  display: block;
  max-width: 700px;
  height: 136px;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="tel"]:hover,
input[type="number"]:hover,
input[type="range"]:hover,
input[type="date"]:hover,
textarea:hover,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
textarea:focus
{
  background-color: #fbfbfb;
  border-color: #b5b5b5;
}

header > *, .content-block
{
  padding: 0 10px;
}

#home-image-container img
{
  width: 100%;
  max-width: 1080px;
}

#jobs-overview-tab
{
  display: none;
}

#hiring-badges
{
  width: 100%;
  float: left;
  margin-top: 10px;
}

#ihk-logo
{
  float: left;
}

#fair-company-logo
{
  float: right;
}

.why-work-here-button
{
  background-color: #747474;
  border-color: #747474;
}

.why-work-here-button:hover,
.why-work-here-button:active,
.why-work-here-button:focus
{
  background-color: #fff;
  border-color: #747474;
  color: #747474;
}


@media (max-width: 768px)
{
  body
  {
    padding-top: 50px;
  }

  #header .content-block,
  #header.top .content-block
  {
    padding: 9px 10px;
  }

  #logo
  {
    top: 14px;
    margin-top: 0px;
    height: 22px;
  }

  #menu
  {
    display: none;
  }

  #menu.open
  {
    display: block;
  }

  #header-hamburger
  {
    position: absolute;
    top: 7px;
    right: 6px;
    display: block;
    height: 36px;
    width: 36px;
    margin: 0;
    padding: 0px 5px;
  }

  .menu-list
  {
    margin-top: 45px;
    padding: 0px;
    display: block;
  }

  .menu-list > li
  {
    display: block;
    border-top: 1px solid #eee;
  }

  .menu-list > li > a
  {
    display: block;
    margin: 0px;
    padding: 10px;
    font-size: 14px
  }

  .menu-button
  {
    position: absolute;
    top: 7px;
    right: 43px;
    height: 32px;
    padding: 0 6px;
    line-height: 32px;
    font-size: 14px;
  }

  .columns-container .column
  {
    width: 100%;
    margin-left: 0;
    clear: both;
  }

  #press-info .sidebar-left
  {
    text-align: inherit;
  }

  #releases li > *
  {
    display: block;
  }

  .no-mobile
  {
    display: none;
  }
}

@media (min-width: 751px)
{
  .ui-tabs-nav-vertical
  {
    padding: .2em .1em .2em .2em;
    float: left; width: 100%;
    border-bottom: none;
  }

  .ui-tabs-nav-vertical li
  {
    clear: left;
    width: 100%;
    margin: 0 -1px .2em 0;
  }

  .ui-tabs-nav-vertical li.ui-tabs-active
  {
    padding-bottom: 0;
    padding-right: .1em;
    border-right-width: 1px;
    border-right-width: 1px;
  }

  #panels-openings
  {
    margin-top: -40px;
  }
}
