title=Privacy Policy

<header class="page-title">
  <h1>Privacy Policy <small>(eyeo.com)</small></h1>
</header>

<div class="content-block">
  <h2 id="short-version">
    Privacy Notice <small>(short version)</small>
  </h2>
  <p>
    The following privacy notice shall provide you with a general overview about the collection, processing and use (hereinafter together referred to as "processing") of your personal data. For more information regarding our processing activities, please view our complete <a href="#long-version">privacy policy</a>.
  </p>
  </p>
  <h3 id="short-process-data">
    What kind of data do we process?
  </h3>
  <ol>
    <li>
      While using the eyeo.com website:
      <? include privacy/data-collected ?>
    </li>
    <li>
      When applying for a job:
      <ul>
        <li>
          Name
        </li>
        <li>
          Email address
        </li>
        <li>
          CV and all other data voluntarily uploaded / shared by you
        </li>
      </ul>
    </li>
  </ol>
  <h3 id="short-collect-data">
    How do we collect data?
  </h4>
  <ul>
    <li>Cookies</li>
    <li>Log-files</li>
    <li>Data entered by user into the job application form</li>
  </ul>
  <h3 id="short-use-data">
    How do we use your data?
  </h3>
  <ul>
    <li>
      To improve our website and to ensure website security
    </li>
    <li>
      Evaluating your application
    </li>
  </ul>
  <h3 id="short-values">
    Our values
  </h3>
  <p>
    We collect as little data as possible. As far as anonymous or pseudonymous use is possible we anonymize or pseudonymize your data.
  </p>
  <h3 id="short-rights">
    What rights do you have?
  </h3>
  <ul>
    <li>
      Receiving information about the personal data stored by us about you
    </li>
    <li>
      Correction of inaccurate personal data
    </li>
    <li>
      Blocking and deletion of personal data
    </li>
  </ul>
  <h3 id="short-questions">
    Questions?
  </h3>
  <p>
    Contact our <a href="mailto:privacy@eyeo.com">data protection officer</a>.
  </p>
  <hr>
  <h2 id="long-version">
    Privacy Policy <small>(long version)</small>
  </h2>
  <p>
    Your protection and data confidentiality is of utmost importance to us ("eyeo" "we" "our"). We take the protection of your personal data very serious and collect as less data as possible. Nevertheless, some personal data are necessary to provide our website and/or our application tools for candidates. This privacy policy shall inform you about the personal data we collect and how exactly that data is used. We gather and use personal data firmly within the provisions of the data protection laws of Germany. In the following text we will inform you about the specific data, the scope and purpose of the collection and use of personal data by us when using eyeo.
  </p>
  <h3 id="processing-data">
    Who is responsible for the Data processing?
  </h3>
  <p>
    The legal person responsible for the collection, processing and/or use of personal data in connection with eyeo ("Controller") is:
  </p>
  <? include address ?>
  <p>
    If you have any queries relating your personal data, please do not hesitate to contact us: <a href="mailto:privacy@eyeo.com">privacy@eyeo.com</a>
  </p>
  <h3 id="what-is-personal-data">
    What are Personal Data?
  </h3>
  <p>
    The purpose of data protection is to protect personal data. Personal data means any information relating to an identified or identifiable natural person ("data subject"); an identifiable natural person is one who can be identified, directly or indirectly, in particular by reference to an identifier such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person. This information includes, for example, details such as name, postal address, email address or telephone number but also nicknames, certificates and information about your interests.
  </p>
  <h3 id="collecting-data">
    What kind of Data do we collect and process and how?
  </h3>
  <h4 id="website-longs">
    Website logs
  </h4>
  <p>
    While using eyeo.com website, we are automatically recording website logs and thereby collecting the following data for technical and for security reasons:
  </p>
  <? include privacy/data-collected ?>
  <p>
    This data is stored purely for technical reasons and cannot be linked to any individual person. We are not combining the website log data with any other information about you. Such website logs are retained for a period of 30 days after which only the aggregated usage statistics, which cannot be connected to a single user remain. Everything else will be deleted.
  </p>
  <h4 id="app-data">
    Application data
  </h4>
  <p>
    If you are applying online for a job at eyeo you need to fulfil our online application form. In order to evaluate your application properly we need ­ at least ­ your name, email address and a CV. On a voluntary basis you may further add a telephone number, a cover letter, additional documents, as but not limited to certificates, a website and additional information about you.
  </p>
  <p>
    We are collecting and processing those data for the sole purpose of managing eyeo’s recruitment related activities as well as for organizational planning purposes. Consequently, eyeo may use your personal data in relation to the evaluation and selection of applicants including for example setting up and conducting interviews and tests, evaluating and assessing the results thereto and as is otherwise needed in the recruitment processes including the final recruitment.
  </p>
  <h3 id="disclosure-of-personal-data">
    Do we disclose any Personal Data?
  </h3>
  <p>
    We will not transfer your personal data to third parties as a matter of course without letting you know in advance or asking for your prior permission. We may only transfer your personal data to third parties without informing you separately beforehand in the following exceptional cases as explained below:
  </p>
  <ul>
    <li>
      If required for legal proceedings/investigations, personal data will be transferred to the criminal investigation authorities and, if appropriate, to injured third parties. We will only do this if there are concrete indications of illegal and/or abusive behaviour. We are also legally obliged to give certain public authorities information. These are criminal investigation authorities, public authorities which prosecute administrative offences entailing fines and the German finance authorities.
    </li>
    <li>
      For job application we are using an external service provider to provide online application for you. Information is transferred to ENABLEAN Consulting GmbH & Co. KG, which provides the application tool TalentsTracker, in order to enable them to fulfil their contractual obligations. We have carefully selected this external service provider and review regularly to ensure that your privacy is preserved. ENABLEAN Consulting GmbH & Co. KG may only use the personal data for the purposes stipulated by us and in accordance with our instructions. We also contractually require ENABLEAN Consulting GmbH & Co. KG to treat your personal data solely in accordance with this Privacy Policy and the German data protection laws.
    </li>
    <li>
      As part of the further development of our business it may happen that the structure of eyeo GmbH changes. The legal structure may be adapted, subsidiaries, business units or components may be created, bought or sold. In such transactions customer information may be shared with the transmitted part of the company. In the event of a transfer of personal information softgarden will ensure that it is done in accordance to this Privacy Policy and the German data protection laws.
    </li>
  </ul>
  <h3 id="cookies">
    Cookies
  </h3>
  <p>
    eyeo may store cookies in order to provide you with comprehensive features and improved ease of use when navigating our website. Cookies are small files that are stored on your computer with the help of your internet browser. If you do not want to enable cookies you can opt against using them by selecting the appropriate settings on your internet browser. Please note that the efficiency and range of our services may be restricted as a result.
  </p>
  <h3 id="rights">
    What rights do you have?
  </h3>
  <p>
    Naturally you have the right to receive, upon request, information about the personal data stored by us about you. You also have the right to correct inaccurate personal data, to block and delete details. To do so, please contact us via <a href="mailto:privacy@eyeo.com">privacy@eyeo.com</a> or mail to:
  </p>
  <? include address ?>
  <h4 id="deletion">
    Deletion of your Data
  </h4>
  <p>
    If we don’t need your personal data any longer for the aforementioned purposes we will delete this data and it will be no longer available for further use. Please note, if data needs to be retained for legal purposes we will block the respective data
  </p>
  <h3 id="changes">
    Changes to this Privacy Policy
  </h3>
  <p>
    This Privacy Policy can be changed from time to time. The respective current version is available at: <a href="https://eyeo.com/privacy">https://eyeo.com/privacy</a>
  </p>
  <p>
    <time>December 2016</time>
  </p>
</div>
