<p class="image-gallery">
  <a href="/images/jobs/office/office-1.png" data-lightbox="office-2">
    <img alt="eyeo office preview 1" src="/images/jobs/office/office-1-thumb-1x.png" srcset="/images/jobs/office/office-1-thumb-1x.png 1x, /images/jobs/office/office-1-thumb-2x.png 2x" />
  </a>
  <a href="/images/jobs/office/office-2.png" data-lightbox="office-2">
    <img alt="eyeo office preview 2" src="/images/jobs/office/office-1-thumb-1x.png" srcset="/images/jobs/office/office-2-thumb-1x.png 1x, /images/jobs/office/office-2-thumb-2x.png 2x" />
  </a>
  <a href="/images/jobs/office/office-3.png" data-lightbox="office-2">
    <img alt="eyeo office preview 3" src="/images/jobs/office/office-3-thumb-1x.png" srcset="/images/jobs/office/office-3-thumb-1x.png 1x, /images/jobs/office/office-3-thumb-2x.png 2x" />
  </a>
  <a href="/images/jobs/office/office-4.png" data-lightbox="office-2">
    <img alt="eyeo office preview 4" src="/images/jobs/office/office-4-thumb-1x.png" srcset="/images/jobs/office/office-4-thumb-1x.png 1x, /images/jobs/office/office-4-thumb-2x.png 2x" />
  </a>
</p>
